/* div{
    align-items: center;
    justify-content: center;
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 350px;
    flex-wrap: wrap;
} */
/* h1{
    background-color: rgb(0, 0, 0);
    margin:2px;
    padding: 10px;
    color: rgb(251, 246, 246);
    
} */
.hello{
    text-align: center;
    color: rgb(252, 251, 251);
    padding: 20px;
    background-color: rgb(5, 5, 5);

}
body{
    background-color: bisque;
    font-family: 'Poppins', sans-serif;
}
